/* Custom Properties */

:root {
    /* Colors */
    /* Principal Colors */
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    /* Text Color */
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    /* Other Colors */
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --wgite-color: #fff;
    --wgite-alpha-color: rgba(255, 255, 255, 0.5);
    /* Utiliti Color */
    --danger-bg-color: #f8d7da;
    --danger-border-color: #d29ba0;
    --danger-font-color: #83343b;
    --success-bg-color: #d1e7dd;
    --success-border-color: #aac9bb;
    --success-font-color: #276447;
    /* Fonts */
    --font: "Raleway", sans-serif;
    /* Metric */
    --header-height: 4rem;
    --max-width: 1200px;
}

/* --------- Reset --------- */

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/* Components */
/* Alert */
.alert {
    border-radius: 0.5rem;
}

.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-font-color);
    border: thin solid var(--success-border-color);
}

.alert-danger {
    background-color: var(--danger-bg-color);
    color: var(--danger-font-color);
    border: thin solid var(--danger-border-color);
}
/* Btn */
.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}

.btn-sm {
    border-radius: 0.5rem;
    padding: 0.25rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--white-color);
    background-color: var(--first-color);
}

/* Form */
.form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 100%;
}

.form > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
}

.form input,
.form select {
    font-size: 0.85rem;
    font-family: var(--font);
}

.form input {
    border: 0;
    border-bottom: thin solid var(--gray-dark-color);
    padding-left: 0;
}

.form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.form input[type="submit"]:hover {
    opacity: 0.85;
}

.form .title {
    text-align: center;
}

.form *::placeholder {
    color: var(--gray-dark-color);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .form input,
    .form select {
        font-size: 1rem;
    }
}

/* Menu Botton*/

.menu-btn {
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    border-radius: 50%;
}

.menu-btn svg {
    fill: var(--first-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }
    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a {
        padding: 0 1rem;
    }
    .menu a:last-child {
        padding-right: 0;
    }
    .menu a:hover {
        background-color: transparent;
        color: var(--wgite-color);
    }
}

/* Notification */
.notification {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: space-between;
    display: block;
    padding: 0.5rem;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25%;
    font-size: 0.6rem;
    animation-name: notification;
    animation-fill-mode: forwards;
}

.notification-success {
    background-color: var(--success-bg-color);
    color: var(--success-font-color);
    border: thin solid var(--success-border-color);
}

.notification-danger {
    background-color: var(--danger-bg-color);
    color: var(--danger-font-color);
    border: thin solid var(--danger-border-color);
}

@media screen and (min-width: 768px) {
    .notification {
        right: 30px;
        top: 100px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .notification {
        top: auto;
        right: auto;
        bottom: 30px;
        left: 30px;
        font-size: 1rem;
    }
}

@keyframes notification {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Utilities */

.box-shadow {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.col {
    grid-column: span auto;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-6 > * {
    width: 100%;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.container-blok {
    display: block;
    width: 100%;
}

.full-container-center {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtop-16 {
    margin-top: 16px;
}

.none {
    display: none;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    width: 75%;
    text-align: center;
    color: var(--title-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title {
    border-bottom: 2px solid var(--first-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    font-weight: bold;
    color: var(--title-color);
}

@media screen and (min-width: 768px) {
    .row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Site Styles */
.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.logo a:hover {
    color: var(--white-color);
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: thin solid var(--first-color);
}

td {
    border-bottom: thin solid var(--gray-color);
    padding: 4px 4px 4px 0px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }
}
